body {
  background-color: #f7f5f5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #00c2a2;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.interface {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.passage {
  width: 200px;
  height: 150px;
}

.errors {
  list-style-type: none;
  padding-left: 0;
}

.notifications {
  list-style-type: none;
  margin-left: 0;
}

.stage-heading {
  margin-right: 30px;
  color: #00c2a2;
}

.notifications {
  color: #00c2a2;
}

.error {
  font-size: 90%;
}

.error-text{
  display: inline-block;
  margin-right: 5px;
}
