body {
  background-color: #f7f5f5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #00c2a2;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.interface {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.passages-container {
  margin: auto;
}

.passage {
  width: 300px;
  height: 200px;
}

.stage-one, .stage-two {
  float: left;
  width: 45%
}

.stage-three {
  margin-top: 30px;
  width: 80%
}

.stage-three ul {
  list-style-type: none;
}

.stage-heading {
  margin-right: 30px
}
